*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

/mobile/google-services.json
/tv/google-services.json
/keys
/keys/**
/keys/Mobile Signing Key
/keys/Tv Signing Key
